<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <header>
            <h1>Welcome to Oints!</h1>
        </header>
        <p> 
            <b>Oints</b> is the home for tokenized marketing on <a href="https://www.base.org/">Base</a>.
        </p>
        <p> 
            Oints are company loyalty ERC20 tokens that are earned through company purchases or affiliate referrals.
            <br>They can be redeemed for company purchases or traded (via Uniswap or other means) for Eth or tokens.
            <br>Holders redeem company oints by burning them.
        </p>
        <p> 
            We are running as a demo on Base Sepolia. Our GitHub repo is <a href="https://github.com/matthew-ritch/oints">here</a>.
        </p>

        <header>
            <h1>API docs</h1>
        </header>
        <p> 
            The Oints API can be used to:
            <ol>
                <li>Mint company oints to a Base address</li>
                <li>Check current oint balances</li>
            </ol>
        </p>
        <p> 
            We set up a demo company (TestCo) that you can use to try out the API. 
            <br>TestCo's oints are called TestCOints. 
            <ul>
                <li>Their contract address on Base Sepolia is <a href = "https://sepolia.basescan.org/token/0x22ae727e41207cfdbdd1c0260ecd379adc31480f">0x22ae727e41207cfdbdd1c0260ecd379adc31480f</a></li>
                <li>Their oint_id is e38f03ba-fa00-4349-be96-200788c0aad6</li>
                <li>Their private API key is 50cdb2a9-dd6e-4c0b-a35a-74d5f26c9891</li>
            </ul>
        </p>

        <h2>Checking a Balance</h2>
        <p>
            To check a wallet's balance of some oint, navigate to oints.xyz/api/checkbalance/{str:oint_id}/{str:address},
            <br>&emsp;replacing {str:oint_id} with the oint_id string for that oint and 
            <br>&emsp;replacing {str:address} with the Base wallet address that you want to check
        </p>
        <p>
            Fill in the blanks and you can check my wallet address for TestCoints by navigating to:
            <br>&emsp;<a href = "/api/checkbalance/e38f03ba-fa00-4349-be96-200788c0aad6/0x27a3E9624B31C0b2D6841761A0e8f285B32977bb">oints.xyz/api/checkbalance/e38f03ba-fa00-4349-be96-200788c0aad6/0x27a3E9624B31C0b2D6841761A0e8f285B32977bb</a>
        </p>

        <h2>Minting an oint</h2>
        <p>
            To mint your company's oint to some address, navigate to oints.xyz/api/mint_oints_to_address/{str:oint_id}/{str:address}/{int:amount}/{str:company_api_key},
            <br>&emsp;replacing {str:oint_id} with the oint_id string for that oint, 
            <br>&emsp;replacing {str:address} with the Base wallet address to which you want to mint,
            <br>&emsp;replacing {int:amount} with the amount of oints you want to mint, and
            <br>&emsp;replacing {str:company_api_key} with your company's api key
        </p>
        <p>
            Fill in the blanks and you can mint me some TestCOints by navigating to 
            <br>&emsp;<a href = "/api/mint_oints_to_address/e38f03ba-fa00-4349-be96-200788c0aad6/0x27a3E9624B31C0b2D6841761A0e8f285B32977bb/1/50cdb2a9-dd6e-4c0b-a35a-74d5f26c9891">oints.xyz/api/mint_oints_to_address/e38f03ba-fa00-4349-be96-200788c0aad6/0x27a3E9624B31C0b2D6841761A0e8f285B32977bb/1/50cdb2a9-dd6e-4c0b-a35a-74d5f26c9891</a>
        </p>

        <header>
            <h1>Sign up!</h1>
        </header>
        <p>
            To sign up your company, please send me a message at <a href = "mailto:matthew.drummond.ritch@gmail.com?subject=Oints">matthew.drummond.ritch@gmail.com</a>
        </p>

    </body>
</html>