<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <header>
            <h1>Welcome to Oints!</h1>
        </header>
        <p> 
            <b>Oints</b> is the home for tokenized marketing on <a href="https://www.base.org/">Base</a>.
        </p>
        <p> 
            Oints are company loyalty ERC20 tokens that are earned through company purchases or affiliate referrals.
            <br>They can be redeemed for company purchases or traded (via Uniswap or other means) for Eth or tokens.
        </p>

    </body>
</html>